CisHackathonTempWebApp-v1.0/src/PGEFaultLibrary/bo/_2010/_07/BaseFault.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.pgn.com/2010/07/fault/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:complexType name="BaseFault">
                <xsd:sequence>
                <xsd:element minOccurs="1" name="reason" type="xsd:string"/>
            <xsd:element minOccurs="0" name="reasonCode" type="xsd:string"/>
        </xsd:sequence>
                </xsd:complexType>
</xsd:schema>