CisHackathonTempWebApp-v1.0/src/CisDataAccessLibrary/cis/bo/_2010/_07/AccountSearch.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.pgn.com/2010/07/cis/xsd" xmlns:bons2="http://www.pgn.com/2010/07/cis/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:include schemaLocation="PodId.xsd"/>
	<xsd:include schemaLocation="AddressDto.xsd"/>
	<xsd:include schemaLocation="NameDto.xsd"/>
	<xsd:include schemaLocation="AccountNumberDto.xsd"/>
	<xsd:complexType name="AccountSearch">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="accountNumber" type="bons2:AccountNumberDto"/>
			<xsd:element minOccurs="0" name="customerName" type="bons2:NameDto"/>
			<xsd:element minOccurs="0" name="serviceAddress" type="bons2:AddressDto"/>
			<xsd:element minOccurs="0" name="podId" type="bons2:PodId">

			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="accountStatuses">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="2"/>
						<xsd:pattern value="[A-Za-z]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>