CisHackathonTempWebApp-v1.0/src/CisDataAccessLibrary/cis/bo/_2010/_07/PaymentExtensionPlanCodesRequestDto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.pgn.com/2010/07/cis/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="PaymentExtensionPlanCodesRequestDto">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="pastDueTier"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="meetsTpaRule"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="underMax"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="creditCheckRule"
				type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>