CisHackathonTempWebApp-v1.0/src/CisDataAccessLibrary/cis/bo/_2010/_07/SourceIdentifierDto.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.pgn.com/2010/07/cis/xsd" xmlns:bons2="http://www.pgn.com/2010/07/cis/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SourceIdentifierDto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sourceType">
                <xsd:annotation>
          
        <xsd:documentation>System, process or interface identified as the source of an action.  Suggested values for the sourceType are "WEB", "PORTAL", "MDC" and "IVR".</xsd:documentation>
        </xsd:annotation>
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="sourceId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A id uniquely identifying a process or individual.  May be an employee E number, process name, etc. (E99999, DELINQENCY).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
            <xsd:element minOccurs="0" name="onBehalfOf" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Who the action is being taken for. May be an employee E number, customer number, customer name, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>