CisHackathonTempWebApp-v1.0/src/CisDataAccessLibrary/cis/bo/_2011/_07/EventDto.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.pgn.com/2011/07/cis/xsd"	xmlns:bons1="http://www.pgn.com/2010/07/cis/xsd"	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	xmlns:bons0="http://www.pgn.com/2011/07/cis/xsd">	<xsd:include schemaLocation="EventDetailDto.xsd"></xsd:include>	<xsd:import namespace="http://www.pgn.com/2010/07/cis/xsd"		schemaLocation="../../_2010/_07/PremiseCode.xsd">	</xsd:import>	<xsd:import namespace="http://www.pgn.com/2010/07/cis/xsd"		schemaLocation="../../_2010/_07/CustomerCode.xsd">	</xsd:import>	<xsd:complexType name="EventDto">		<xsd:sequence>			<xsd:element minOccurs="0" name="eventId" type="xsd:int">			</xsd:element>			<xsd:element minOccurs="0" name="eventDate"				type="xsd:dateTime">			</xsd:element>			<xsd:element minOccurs="0" name="customerCode"				type="bons1:CustomerCode">			</xsd:element>			<xsd:element minOccurs="0" name="premiseCode"				type="bons1:PremiseCode">			</xsd:element>			<xsd:element minOccurs="0" name="errorCode"				type="xsd:string">			</xsd:element>			<xsd:element minOccurs="0" name="errorMessage"				type="xsd:string">			</xsd:element>			<xsd:element minOccurs="0" name="returnCode"				type="xsd:string">			</xsd:element>			<xsd:element minOccurs="0" name="eventUserId"				type="xsd:string">			</xsd:element>			<xsd:element minOccurs="0" name="details"				type="bons0:EventDetailDto" maxOccurs="unbounded">			</xsd:element>		</xsd:sequence>	</xsd:complexType></xsd:schema>