CisHackathonTempWebApp-v1.0/src/PGECommonLibrary/bo/_2010/_07/EnergyMeasurement.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.pgn.com/2010/07/common/xsd" xmlns:bons0="http://www.pgn.com/2010/07/common/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="PeakType.xsd"/>
    <xsd:include schemaLocation="EnergyUom.xsd"/>
    <xsd:complexType name="EnergyMeasurement">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="unitOfMeasure" type="bons0:EnergyUom">
      </xsd:element>
      <xsd:element minOccurs="0" name="peakType" type="bons0:PeakType">
      </xsd:element>
      <xsd:element minOccurs="0" name="reading" type="xsd:double"/>
            <xsd:element minOccurs="0" name="readingType" type="xsd:string">
                <xsd:annotation>
          
        <xsd:documentation>Suggested Values:  ESTIMATED, ACTUAL</xsd:documentation>
        </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="multiplier" type="xsd:double">
        <xsd:annotation>
          
        <xsd:documentation>The meter multiplier used to translate readings into usage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
            <xsd:element minOccurs="0" name="consumption" type="xsd:double"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>