CisHackathonTempWebApp-v1.0/src/CisDataAccessLibrary/wsdl/v1/CisServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="CisServiceService_CisServiceHttp_Service" targetNamespace="http://www.pgn.com/v1/cis/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:this="http://www.pgn.com/v1/cis/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://www.pgn.com/v1/cis/inf">
  <wsdl:import location="CisService.wsdl" namespace="http://www.pgn.com/v1/cis/inf"/>
  <wsdl:binding name="CisServiceBinding" type="bons0:CisService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getServices">
      <soap:operation soapAction=""/>
      <wsdl:input name="getServicesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceNotFound">
        <soap:fault name="serviceNotFound" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceHistories">
      <soap:operation soapAction=""/>
      <wsdl:input name="getServiceHistoriesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceHistoriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceNotFound">
        <soap:fault name="serviceNotFound" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceByPodId">
      <soap:operation soapAction=""/>
      <wsdl:input name="getServiceByPodIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceByPodIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceNotFound">
        <soap:fault name="serviceNotFound" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDisconnectedServices">
      <soap:operation soapAction=""/>
      <wsdl:input name="getDisconnectedServicesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDisconnectedServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceNotFound">
        <soap:fault name="serviceNotFound" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCutOutServices">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCutOutServicesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCutOutServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceNotFound">
        <soap:fault name="serviceNotFound" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getResidentialServices">
      <soap:operation soapAction=""/>
      <wsdl:input name="getResidentialServicesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResidentialServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceNotFound">
        <soap:fault name="serviceNotFound" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isNetMeter">
      <soap:operation soapAction=""/>
      <wsdl:input name="isNetMeterRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isNetMeterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createService">
      <soap:operation soapAction=""/>
      <wsdl:input name="createServiceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="validationFault">
        <soap:fault name="validationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsTimeOfUse">
      <soap:operation soapAction=""/>
      <wsdl:input name="IsTimeOfUseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="IsTimeOfUseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReadingInstructions">
      <soap:operation soapAction=""/>
      <wsdl:input name="getReadingInstructionsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReadingInstructionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="recordNotFound">
        <soap:fault name="recordNotFound" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateService">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateServiceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="attachMeterToService">
      <soap:operation soapAction=""/>
      <wsdl:input name="attachMeterToServiceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachMeterToServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hasPendingRenewableEnrollment">
      <soap:operation soapAction=""/>
      <wsdl:input name="hasPendingRenewableEnrollmentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hasPendingRenewableEnrollmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getElectricServicesByCategory">
      <soap:operation soapAction=""/>
      <wsdl:input name="getElectricServicesByCategoryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getElectricServicesByCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="serviceFault">
        <soap:fault name="serviceFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="serviceNotFound">
        <soap:fault name="serviceNotFound" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  	<wsdl:operation name="getServiceHistoryByService">
  		<soap:operation
  			soapAction="http://www.pgn.com/v1/cis/wsdl/getServiceHistoryByService" />
  		<wsdl:input name="getServiceHistoryByServiceRequest">
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output name="getServiceHistoryByServiceResponse">
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="serviceFault">
  			<soap:fault use="literal" name="serviceFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="getMoveHistory">
  		<soap:operation
  			soapAction="http://www.pgn.com/v1/cis/wsdl/getMoveHistory" />
  		<wsdl:input name="getMoveHistoryRequest">
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output name="getMoveHistoryResponse">
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="serviceFault">
  			<soap:fault use="literal" name="serviceFault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	</wsdl:binding>
  <wsdl:service name="CisServiceService">
    <wsdl:port binding="this:CisServiceBinding" name="CisServicePort">
      <soap:address location="http://localhost:9081/CisServiceWeb-v1/CisServiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>